body {
    background-color: #083B4C;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 150px;

    border: solid 1px black;

    animation: opacityChange .2s ease-in;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}


@keyframes opacityChange {
    from {
        opacity: 0.3;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(-20px);
    }
}