body {
    background-color: #083B4C;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 150px;

    border: solid 1px black;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}